<div class="header-left">
    <a href="/" class="logo">
        <img src="images/logo_l3i.jpeg" alt="logo_l3i" />
    </a>
    <div class="pull-right">
        <a href="" class="menu-collapse">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>