<head>
    <meta charset="utf-8" />
    <title>Schedules</title>
    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/morris.css" rel="stylesheet">
    <link href="css/select2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
</head>
