<div class="leftpanel">
    <h5 class="leftpanel-title">Navigation</h5>
    <ul id="navnav" class="nav nav-pills nav-stacked">
        <li id="home" class="active"><a href="/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li id="travel-time"><a href="/traveltime"><i class="fa fa-gear"></i> <span>Travel Time</span></a></li>
        <li id="dtw-nav"><a href="/dtw"><i class="fa fa-gear"></i> <span>DTW</span></a></li>
        <li id="kmeans-nav"><a href="/kmeans"><i class="fa fa-gear"></i> <span>K-means</span></a></li>
        <li id="ripper-nav"><a href="/ripper"><i class="fa fa-gear"></i> <span>Ripper</span></a></li>
        <li id="horaires-nav"><a href="/horaires"><i class="fa fa-clock-o"></i> <span>Tables d'horaires </span></a></li>
    </ul>
</div>